body {
    background-color: #FEFDEF;
}

.cascade-pass {
    max-width: 700px;
    width: 100%;
}

.content {
    background-color: white;
    border: 2px solid #F2EFC7;
    margin: 48px auto;
    max-width: 800px;
    text-align: center;
    width: 75%;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
}

nav li {
    display: inline-block;
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    list-style: none;
    margin: 0 16px;
}

nav li a:link,
nav li a:visited,
nav li a:active {
    color: #5588BB;
    text-decoration: none;
}

nav li a.active {
    color: #114488;
}

nav li a:hover {
    border-bottom: 2px solid;
}

nav ul {
    padding: 0;
}

@media (max-width: 800px) {
    body {
        background-color: white;
    }

    .content {
        border: none;
        margin: 0;
        width: 100%;
    }
}
