body {
    background-color: #f6efee;
    font-family: 'Karma', sans-serif;
}

h1 {
    font-weight: normal;
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    color: #cb4e45;
    font-size: 1.5em;
}

a {
    color: black;
}

.name {
    float: left;
}

.nav {
    float: right;
}

.nav-item {
    font-variant: small-caps;
    margin-right: 1rem;
}

.nav-item:link,
.nav-item:visited,
.nav-item:active {
    color: #808080;
    text-decoration: none;
}

.nav-item:hover,
.nav-item.active {
    border-bottom: 2px solid;
    color: black;
}

.content {
    clear: both;
    margin-top: 1em;
}

.headshot {
    max-width: 600px;
    width: 100%;
}

#contact {
    text-align: center;
}

#contact div {
    margin: 1em;
}

.col {
    float: left;
    margin-right: 8px;
    max-width: 600px;
}

#education {
    clear: both;
}

@media (max-width: 950px) {
    .nav {
        clear: both;
        float: none;
     }
}
