body {
    background-color: #f6efee;
    font-family: 'Karma', sans-serif;
}

h1 {
    font-weight: normal;
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    color: #cb4e45;
    font-size: 1.5em;
}

a {
    color: black;
}

.header {
    overflow: hidden;
}

.name {
    float: left;
}

.nav {
    float: right;
}

.nav-item {
    float: left;
    font-size: 1.2rem;
    font-variant: small-caps;
    margin-right: 1rem;
}

.nav-item:link,
.nav-item:visited,
.nav-item:active {
    color: #808080;
    text-decoration: none;
}

.nav-item:hover,
.nav-item.active {
    border-bottom: 2px solid;
    color: black;
}

.content {
    clear: both;
}

#quotebox {
    background-color: #cb4e45;
    border-radius: 3em;
    color: white;
    font-size: 1.2em;
    font-style: italic;
    margin: 1em auto;
    max-width: 600px;
    padding: 2em;
    text-align: center;
}

#headshot {
    margin-top: 5em;
}

#headshot img {
    max-width: 600px;
    width: 100%;
}

#contact {
    text-align: center;
}

.col {
    float: left;
    margin-right: 8px;
    max-width: 600px;
}

#photo-bio {
    overflow: hidden;
}

#bio p {
    margin-top: 0;
}

#education {
    clear: both;
}

@media (max-width: 1100px) {
    .nav {
        clear: both;
        float: none;
     }
}
